	body {
		background-color: #1e1e2e;
		color: #cdd6f4;
		font-family: "Iosevka Aile", monospace;
		margin: 0 auto;
		max-width: 1200px;
		min-width: 400px;
	}
	footer {
		font-family: "Iosevka Aile", monospace;
  		color: #cdd6f4;
		font-size: 20px;
		background-color: #11111b;
		padding: 5px;
		border: 4px solid #ca9ee6;
		border-radius: 25px;
		padding: 10px;
	}
	
	/* dd container */
	.dropdown {
	  display: inline-block;
	  position: relative;
	  outline: none;
	}
	
	/* button */
	.dropbtn {
		color: #ca9ee6;
		border: 2px dotted #ca9ee6;
		border-radius: 15px;
		background: #1e1e2e;
		padding: 5px;
	}
	
	/* dd content */
	.dropdown .dropdown-content {
	  position: absolute;
	  top: 50%;
	  border: 1px solid #cba6f7;
	  border-radius: 15px;
	  background-color: #11111b;
	  min-width: 100%;
	  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
	  z-index: 100000;
	  visibility: hidden;
	  opacity: 0;
	  transition: 0.2s ease-in-out;
	}
	.dropdown-content a {
	  color: #cdd6f4;
	  padding: 6px 10px;
	  display: block;
	  text-decoration: none;
	  transition: 0.2s ease-out;
	  text-align: center;
	}
	.dropdown-content a:hover {
	  background-color: #45475a;
	}
	
	/* show dd content */
	.dropdown:focus .dropdown-content {
	  outline: none;
	  transform: translateY(18px);
	  visibility: visible;
	  opacity: 0.9;
	}
	
	.dropbtn:hover, .dropdown:focus .dropbtn {
	  background-color: #cba6f7;
	  color: #1e1e2e;
	  width: 200px;
	  height: auto;
	  transition: 0.2s width;
	}
	
	/* mask to close menu by clicking on the button */
	.dropdown .db2 {
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  opacity: 0;
	  cursor: pointer;
	  z-index: 10;
	  display: none;
	}
	.dropdown:focus .db2 {
	  display: inline-block;
	}
	.dropdown .db2:focus .dropdown-content {
	  outline: none;
	  visibility: hidden;
	  opacity: 0;
	}
